<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Three-Step Registration{% endblock %}</title>
    {% include 'links/links.html' %}
 
</head>
<nav>
    {% include 'header.html' %}
</nav>
<body>
    <main>
      
        <div class="registration-container">
            <div class="center-box">
                <div class="breadcrumbs">
                    {% include  'components/breadcrumbs-signup.html' %}
                 
                </div>
               
                <div class="content">
                    {% block content %}
                    <div class="registration-container">
                        <div class="center-box">
                            <div class="breadcrumbs">
                                {% include 'components/breadcrumbs-signup.html' %}
                            </div>

                            <div class="content">
                                <h2>Three-Step Registration</h2>

                                {# Insert your signup form here #}
                                {% include "components/signup-form-1.html" %}
                            </div>
                        </div>
                    </div>
                    {% endblock %}

                </div>
            
            </div>
           
        </div>        
    </main>
</body>

</html>