{% extends "freelancer/event.html" %}
{% block title %}DFPS Profiling: Events {% endblock title %}

{% block event %}
<div class="filtered-events" style="width: 80vw; padding: 20px">
    <h2 id='event-page'>Filtered Events: {{ selected_tag.name }}</h2>
    <hr>
    {% if filtered_events %}
        {% for event in filtered_events %}
        <div class="event-container">
            <div class="event-con-header">
                <h3><a href="{% url 'event_detail_view' account_id=profile.account_id.account_id event_id=event.id %}">{{ event.title }}</a></h3>
                <p>{{ event.event_date }}</p>
            </div>
            <p class="event-location"><i class="fas fa-map-marker-alt"></i> {{ event.location }}</p>
            <p>{{ event.organizer.username }}</p>
            <p>{{ event.description }}</p>
            <div class="tags-container">
                <div class="tag-p">
                    <p>Tags:</p>
                </div>
                {% for tag in event.tags.all %}
                    <span class="tag-box">
                        <a href="{% url 'tag_filter_event_view' tag_id=tag.id account_id=profile.account_id.account_id %}">{{ tag.name }}</a>
                    </span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    {% else %}
    <p>No events found for this tag.</p>
    {% endif %}
</div>
{% endblock event %}
