{% extends "home.html" %}
{% load static %}
{% block title %}DFPS Profiling: Skills {% endblock title %}

{% block content %}

<link rel="stylesheet" href="{% static 'profile_page.css' %}">
<link rel="stylesheet" href="{% static 'skill-view.css' %}">
<link rel="stylesheet" href="{% static "select2.css" %}">

<style>
    .select2-container--default .select2-selection--multiple {
        width: 38vw !important;
        height: auto;
        margin-bottom: 0;
    }

    .btn-add {
        color: var(--primary-color) !important;
        display: block;
        background-color: var(--primary-color)
    }
</style>
<div class="skills-page">
    <div class="header-container">
        <button class="back-button" onclick="window.history.back();">
            <i class="fas fa-arrow-left"></i> Back
        </button>
        <h1>Skills</h1>
        <div class="skill-card-btn-add">
            <button type="button" class="btn-add" onclick="skillShowModal()">
                &#43;
            </button>
        </div>
    </div>
    
    <hr class="freelancer">
    
    <div class="skill-grid">
        {% if skills %}
            {% for skill in skills %}
            <div class="skill-card" style="justify-content: unset;">
                <div class="skill-header">
                    <i class="skill-icon fas fa-code"></i>
                    <div class="header-container-col">
                        <span style="margin-right: auto; font-weight: bold;">{{ skill.skill }}</span>
                        <!-- Displaying associated tags for each skill -->
                        {% for tag in skill.tags.all %}
                            <div class="skill-status">{{ tag.name }}</div>
                        {% endfor %}
                    </div>
                    <form method="post" class="skill-remove-form" onsubmit="return confirmRemoveSkill(event, '{{ skill.skill_id }}')">
                        {% csrf_token %}
                        <input type="hidden" name="remove_skill" value="{{ skill.skill_id }}">
                        <button type="submit" title="Remove" class="remove-button">&#10006;</button>
                    </form>
                </div>
                <div class="skill-description" style="text-indent: 0;">
                    <p>{{ skill.description }}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <!-- Display this if there are no skills -->
        <div style="text-align: center; justify-self: center;">
            <img src="{% static 'img/DarkBlue/dark blue.png' %}" alt="No projects image" style="width: 150px;">
            <p>No skills found. Please add a skill to get started! 
                <a href="#" onclick="skillShowModal()" style="text-decoration: underline; color: var(--border-color)">Add here</a>
            </p>
        </div>
        {% endif %}
    </div>
    <div id="addSkillModal" class="skill-modal" style="width: 40vw;">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Add New Skill</h3>
            </div>
           
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" id="addSkillForm">

                    {% csrf_token %}
                    <label for="tagSelect">Main Skills:</label>
                    <select id="tagSelect" class="select2" multiple="multiple">
                        <option value="" disabled>Select tags</option>
                    </select>
                    <br> 
                    <label for="skillSelect">Sub Skills:</label>
                    {{ skills_form.skills }}

                    
                    <br>
                    <p class="help-text">
                        <small>
                            Can't find your skill? 
                            <a href="{% url 'help' %}" class="help-link">Send us a ticket</a>.
                        </small>
                    </p>    
                    <br>
     
                    <div class="skill-buttons-container" style="display: flex; justify-content: space-between; gap: 10px; margin-top: 1rem; width: 100%;">
                        <button type="button" class="btn-cancel" onclick="skillCloseModal()">Cancel</button>
                        <button type="submit" class="btn-submit" name="skills_submit">Submit</button>
                    </div>       
                  
                </form>
                
            </div>
        </div>
    </div>
</div>


<script>
    function confirmRemoveSkill(event, skillId) {
        event.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            text: "Please note: this action cannot be undone.!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '<b>Yes</b>',
            cancelButtonText: 'No',
            confirmButtonColor: '#dc3545',
            cancelButtonColor: '#6c757d',
            reverseButtons: true // Ensures Yes is on the right
        }).then((result) => {
            if (result.isConfirmed) {
                event.target.submit(); // Submit the form if confirmed
            }
        });
    }
</script>
<script>
    $(document).ready(function() {
        $('.select2').select2({
            placeholder: 'Select options',
            width: 'resolve'
        });
    
        // Fetch tags, languages, and skills from the server
        $.ajax({
            url: '/get_languages_and_skills/',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                // Populate tags
                data.tags.forEach(function(tag) {
                    var newOption = new Option(tag.name, tag.name, false, false);
                    $('#tagSelect').append(newOption).trigger('change');
                });
    
                // Populate languages
                data.languages.forEach(function(language) {
                    var newOption = new Option(language.language, language.language_id, false, false);
                    $('#id_language').append(newOption).trigger('change');
                });
    
                // Populate skills
                data.skills.forEach(function(skill) {
                  
                    var newOption = new Option(skill.skill, skill.skill_id, false, false);
                    $('#id_skills').append(newOption).trigger('change');
                });
            },
            error: function(error) {
                console.error('Error fetching languages and skills:', error);
            }
        });
    
        // Filter skills based on selected tags
        $('#tagSelect').on('change', function() {
            var selectedTags = $(this).val();
    
            // Store currently selected skills
            var selectedSkills = $('#id_skills').val();
    
            $.ajax({
                url: '/filter_skills_by_tags/',
                type: 'GET',
                data: {
                    tags: selectedTags
                },
                traditional: true, // Ensures proper serialization of array parameters
                dataType: 'json',
                success: function(data) {
                    var selectedSkills = $('#id_skills').val();
                    var selectedSkillsText = [];
    
                    $('#id_skills option:selected').each(function() {
                        selectedSkillsText.push($(this).text());
                    });
    
                    $('#id_skills').empty(); // Clear existing options
    
                    data.skills.forEach(function(skill) {
                        var newOption = new Option(skill.skill, skill.skill_id, false, false);
                        $('#id_skills').append(newOption).trigger('change');
                    });
    
                    // Reapply the selected options
                    $('#id_skills option').each(function() {
                        if (selectedSkillsText.includes($(this).text())) {
                            $(this).prop('selected', true);
                        }
                    });
    
                    $('#id_skills').trigger('change'); // Trigger change to update select2 display
                },
                error: function(error) {
                    console.error('Error filtering skills by tags:', error);
                }
            });
        });
    });

   
</script>

<script>
    function formatOptionWithTooltip(option) {
        if (!option.id) {
            return option.text;
        }
        const selectElement = $(option.element).closest('select');
        const attribute = `data-toggle-skills-${option.id}`;

        
        const description = selectElement.attr(attribute);

        const $option = $('<span></span>');
        $option.text(option.text);
        tippy($option.get(0), {
            content: description,
        });
    
        return $option;
    }


    $(document).ready(function() {
        $('.select2').select2({
            templateResult: formatOptionWithTooltip,
            templateSelection: formatOptionWithTooltip
        });
    });
    $(document).ready(function() {
        $('.select2').select2({
            placeholder: "Click to select options",
            templateResult: formatOptionWithTooltip,
            templateSelection: formatOptionWithTooltip
        });
        $('.select2.skills').select2({
            placeholder: "Select Main Skill first",  // Custom placeholder for skills
            allowClear: true  // Allow clearing the selection
        });
    });
    
</script>
<script>
    // Function to show the modal
    function skillShowModal() {
        var modal = document.querySelector(".skill-modal");
        modal.style.display = "block";
    }

    function skillCloseModal() {
        var modal = document.querySelector(".skill-modal");
        modal.style.display = "none";
    }
    // Get the button element
    var btn = document.querySelector("#openModalBtn");

    // Assign the projectShowModal function to the button's click event
    if (btn) {
        btn.addEventListener("click", skillShowModal);
    }
</script>
{% endblock %}
