{% extends 'index.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<style>
    /* Importing the Garet font */
    @font-face {
        font-family: 'Garet';
        src: url('/static/font/Garet-Book.woff') format('woff');
    }

    /* Defining root variables */
    :root {
        --primary-color: #00072d;
        --secondary-color: #051650;
        --accent-color: #0a2472;
        --text-color: white;
        --background-color: #FAFAFA;
        --border-color: #1a43bf;
    }

    /* Container for centering content */
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: var(--background-color);
        font-family: 'Garet', sans-serif;
    }

    /* Style for the password reset container */
    .login-container {
        background-color: var(--text-color);
        text-align: center;
        padding: 2rem;
        border-radius: 24px;
        border: 1px solid var(--secondary-color);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
    }

    /* Heading style */
    h2 {
        font-size: 32px;
        color: var(--primary-color);
    }

    /* Form group styling */
    .form-group {
        margin-bottom: 1rem;
    }

    /* Styling the input fields */
    .form-control {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid var(--border-color);
        box-sizing: border-box;
        font-size: 16px;
    }

    /* Styling the button */
    .button {
        width: 100%;
        padding: 10px;
        border-radius: 29px;
        border-radius: 8px;
        border: 2px solid var(--secondary-color);
        background: var(--secondary-color);
        color: var(--Color, #FFF);
        font-family: 'Garet', sans-serif;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        transition: background 0.3s ease, color 0.3s ease;
    }

    /* Hover and disabled button states */
    .button:hover {
        background: var(--secondary-color);
    }

    .button:disabled {
        background: #ccc;
        border-color: #ccc;
        cursor: not-allowed;
    }

    .login-container input {
        width: 400px;
    }

    .login-container {
        height: auto !important;
    }
</style>
<div class="main">
    <div class="login-container">
        <h2>Set New Password</h2>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="reset-button" type="submit" class="button">Confirm</button>
        </form>
    </div>
</div>
{% endblock %}
