{% extends 'index.html' %}
{% load static %}

{% block content %}
<style>
   


    .login-container {
        text-align: center;
        height: auto !important;
        padding: 1rem;
        border-radius: 24px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Button Styles */
    .button {
        width: auto;
        height: auto;
        flex-shrink: 0;
        border-radius: 29px;
        border: 2px solid #0078AE;
        background: #0078AE;
        color: #FFF;
        font-family: Inter, sans-serif;
        font-size: 16x;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 10px 20px;
        cursor: pointer;
        transition: background 0.3s ease, color 0.3s ease;
    }

    .button:hover {
        background: #005f8a;
        color: #fff;
    }

    .button:disabled {
        background: #ccc;
        border-color: #ccc;
        cursor: not-allowed;
    }

</style>
<link rel="stylesheet" href="{% static 'styles.css' %}">
<div class="main">
    <div class="login-container">
        <h2>Password Reset Requested</h2>
        <p>An email has been sent to the provided address with instructions to reset your password.</p>
    </div>
</div>
{% endblock %}
